@use 'mixins/media';
@use 'mixins/fonts';

.footerInfo {
  display: grid;
  grid-template-columns: 342px 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 40px;
  grid-gap: 120px 0;

  @include media.screen('tablet') {
    grid-template-columns: 130px 1fr 1fr;
    grid-gap: 120px 24px;
    padding-bottom: 48px;
  }

  @include media.screen('mobile') {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-bottom: 47px;
  }

  @include media.screen('desktop-l') {
    grid-template-columns: 0.68fr 1fr 1fr;
    grid-gap: 8.33vw 0;
    padding-bottom: 2.78vw;
  }

  &__button {
    grid-column-start: 3;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-bottom: 10px;

    @include media.screen('mobile') {
      order: 2;
      padding: 0;
      width: 100%;

      & button {
        width: 100%;
        justify-content: space-between;
      }
    }

    @include media.screen('desktop-l') {
      padding-bottom: 0.69vw;
    }

    & p {
      letter-spacing: 0;
    }
  }

  &__logo {
    width: 115px;
    height: 115px;

    @include media.screen('desktop') {
      width: 207px;
      height: 207px;
    }

    @include media.screen('desktop-l') {
      width: 14.375vw;
      height: 14.375vw;
    }
  }

  &__logoContainer {
    @include media.screen('mobile') {
      order: 5;
      align-self: end;
    }
  }
}

.button {
  padding-left: 26px;
  background-color: transparent !important;
  backdrop-filter: blur(16px);

  & p {
    letter-spacing: 0.3px;
  }

  @include media.screen('mobile') {
    width: 100%;
    justify-content: space-between;
  }

  @include media.screen('desktop-l') {
    padding: 0.55vw 0.69vw 0.55vw 2.08vw;

    & p {
      @include fonts.text(1.11vw, 1.69vw 'regular');
      margin-right: 0.97vw;
    }

    & div {
      width: 4.16vw;
      height: 4.16vw;
    }
  }
}
