.text {
  overflow: hidden;
}

.animate {
  position: relative;
  animation-duration: calc(300ms + var(--count) * var(--speed));
  animation-name: up;
}

@keyframes up {
  from {
    top: 56px;
  }

  to {
    top: 0;
  }
}
