@use 'mixins/media';

.text {
  overflow: hidden;
}

.animate {
  position: relative;
  animation-duration: calc(300ms + var(--count) * var(--speed));
  animation-name: up;
}

@keyframes up {
  from {
    top: var(--height);
  }

  to {
    top: 0;
  }
}

@include media.screen('desktop') {
  @keyframes up {
    from {
      top: calc(var(--height) * 2);
    }

    to {
      top: 0;
    }
  }
}
