@use 'mixins/media';

.quote {
  @include media.screen('desktop') {
    padding: 93px 0 99px !important;
    margin: 110px 0 !important;

    p:last-of-type {
      line-height: 11px;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }

  &__wrapper {
    max-width: 756px;

    @include media.screen('desktop-l') {
      max-width: 1075px;
    }
  }
}
