@use 'mixins/media';

.quote {
  @include media.screen('desktop') {
    padding: flex(6.458) 0 flex(6.875) !important;
    margin: flex(7.63) 0 !important;

    p:last-of-type {
      line-height: 11px;
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }

  &__wrapper {
    max-width: 756px;

    @include media.screen('desktop') {
      max-width: flex(74.65);
    }
  }
}
