@use 'mixins/media';
@use 'mixins/fonts';

.adventage {
  &__title {
    @include fonts.text(20px, 24px, 500);

    letter-spacing: 0.4px;
    margin-bottom: 6px;
    color: var(--color-text-tertiary);
  }

  &__text {
    @include fonts.text(16px, 20px, 300);

    letter-spacing: 0.3px;
    color: var(--color-text-quaternary);
  }

  &__text + &__text {
    margin-top: 20px;
  }

  @include media.screen('desktop') {
    margin-right: flex(2.1);

    &__title {
      @include fonts.text(flex(1.25), flex(1.4), 500);

      letter-spacing: 0.02em;
      margin-bottom: flex(0.37);
      color: var(--color-text-tertiary);
    }

    &__text {
      @include fonts.text(flex(1.05), flex(1.3), 300);

      letter-spacing: 0.04em;
      color: var(--color-text-quaternary);
    }

    &__text + &__text {
      margin-top: flex(1.23);
    }
  }
}
