@use 'mixins/media';
@use 'mixins/fonts';

.header {
  padding: 20px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  transition: all 0.3s ease;
  backdrop-filter: blur(10px);

  &--dark {
    --color-black-rgb: 21, 23, 25;

    background-color: rgb(var(--color-black-rgb), var(--header-bg-opacity));
    color: var(--color-white);
  }

  &--light {
    background-color: var(--color-white-secondary);
    color: var(--color-black);
  }
}

.header--active {
  &.header--dark {
    background-color: var(--color-black);
  }

  &.header--light {
    background-color: var(--color-white-secondary);
  }
}

.logo {
  color: inherit;
  text-decoration: none;
  display: flex;

  & svg {
    width: 179px;
    transform: scale(0.71) translateX(-36px);
  }

  @include media.screen('mobile') {
    & svg {
      transform: none;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container {
  padding: 0 48px;
}

@media (width <= 600px) {
  .container {
    padding: 0 20px;
  }
}

@media (width > 1440px) {
  .container {
    padding: 0 3.33vw;
  }
}
