@use 'mixins/fonts';

.address__wrapper {
  overflow-y: hidden;
}

.AddressItem {
  padding: 40px 0;
}

.title {
  @include fonts.text(36px, 40px, 400);

  color: var(--color-text-tertiary);
  margin-bottom: 13px;
  letter-spacing: 0.6px;
}

.text {
  @include fonts.text(20px, 24px, 300);

  color: var(--color-text-quaternary);
  max-width: 331px;
  letter-spacing: 0.8px;
}

@media (width <= 1200px) {
  .AddressItem {
    padding: 45px 0 50px;
  }

  .title {
    @include fonts.text(30px, 34px, 400);

    margin-bottom: 23px;
    letter-spacing: 0.5px;
  }

  .text {
    @include fonts.text(16px, 20px, 300);

    max-width: 350px;
    letter-spacing: 0.65px;
  }
}

.border {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(0 0 0 / 20%);
}
