.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-black);
  }

  &:hover .arrow {
    color: var(--color-white);
  }
}

.arrow {
  color: var(--color-black);

  &.left {
    transform: rotate(135deg);
  }

  &.right {
    transform: rotate(-45deg);
  }
}
