@use 'mixins/fonts';
@use 'mixins/media';

.paragraph {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.title {
  margin-bottom: 8px;
  overflow: hidden;

  @include fonts.text(20px, 24px, 500);

  color: var(--color-text-tertiary);
  letter-spacing: 0.7px;

  @include media.screen('desktop') {
    @include fonts.text(20px, 24px, 500);

    margin-bottom: 6px;
    letter-spacing: 0.4px;
  }
}

.text {
  letter-spacing: 0.3px;

  @include fonts.text(16px, 20px, 400);

  color: var(--color-text-quaternary);

  @include media.screen('desktop') {
    letter-spacing: 0.8px;

    @include fonts.text(20px, 24px, 300);
  }
}

.pagination-block {
  max-width: 662px;
  letter-spacing: 1px;
}

.pagination-block:not(:last-child) {
  margin-bottom: 21px;
}

.paginated-title {
  letter-spacing: 0.1px;

  @include media.screen('desktop') {
    @include fonts.text(20px, 24px, 400);

    margin-bottom: 6px;
  }
}

.animate {
  position: relative;
  animation-duration: calc(300ms + var(--count) * 30ms);
  animation-name: up;
}

@keyframes up {
  from {
    top: 56px;
  }

  to {
    top: 0;
  }
}

.w540 {
  max-width: 540px;
}

@media (width <= 1080px) {
  .paragraph {
    min-height: 163px;
  }
}

@media (width <= 800px) {
  .title {
    letter-spacing: 0.4px;
  }
}
