@use 'mixins/fonts';
@use 'mixins/media';

.stats {
  position: relative;
  padding-bottom: 20px;
  overflow: visible;
  width: 100%;

  span {
    display: inline;
    color: var(--color-black);

    @include fonts.text(120px, 74%, 500);
  }
}

.stats__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;
  overflow: visible;
}

.children {
  text-align: right;
  letter-spacing: 0.4px;
  color: var(--color-text-secondary);

  @include fonts.text(20px, 24px, 'regular');
}

.stats .line {
  position: absolute;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background-color: rgba($color: #000, $alpha: 20%);
}

.text {
  overflow: visible;
  display: flex;
}

.animate {
  position: relative;
  animation-duration: calc(500ms + var(--count) * 500ms);
  animation-name: up;
}

@keyframes up {
  from {
    top: 56px;
  }

  to {
    top: 0;
  }
}

@include media.screen('desktop') {
  .stats {
    padding-bottom: flex(1.25);
    span {
      @include fonts.text(flex(9.86), 74%, 500);
    }
  }

  .children {
    @include fonts.text(flex(1.46), 35.31px, 'regular');
  }
}
