@use 'mixins/fonts';
@use 'mixins/media';

.stats {
  position: relative;
  padding-bottom: 20px;
  overflow-x: hidden;
  width: 100%;

  span {
    display: inline;

    @include fonts.text(10vw, 7.4vw, 500);

    color: var(--color-black);

    @include media.screen('desktop') {
      @include fonts.text(10vw, 7.4vw, 500);
    }

    @include media.screen('desktop-l') {
      @include fonts.text(10vw, 7.4vw, 500);
    }
  }
}

.stats__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-grow: 1;
  width: 100%;

  @include media.screen('desktop') {
    padding-bottom: 14px;
    max-width: 34.48vw;
  }

  @include media.screen('desktop') {
    padding-bottom: 23px;
  }
}

.children {
  text-align: right;

  @include fonts.text(20px, 24px, 'regular');

  letter-spacing: 0.4px;
  color: var(--color-text-secondary);

  @include media.screen('desktop') {
    @include fonts.text(21px, 25px, 'regular');
  }

  @include media.screen('desktop-l') {
    @include fonts.text(1.46vw, 35.31px, 'regular');
  }
}

.stats .line {
  position: absolute;
  bottom: 1px;
  height: 1px;
  width: 100%;
  background-color: rgba($color: #000, $alpha: 20%);
}

.text {
  overflow: hidden;
  display: flex;
}

.animate {
  position: relative;
  animation-duration: calc(500ms + var(--count) * 500ms);
  animation-name: up;
}

@keyframes up {
  from {
    top: 56px;
  }

  to {
    top: 0;
  }
}
