@use 'mixins/fonts';
@use 'mixins/media';

.container {
  background-color: var(--color-white-secondary);
}

.content {
  width: 100%;
  height: max-content;
  overflow: hidden;

  .letter {
    line-height: 130px;
    margin-bottom: 42px;
  }

  @include media.screen('desktop') {
    .letter {
      @include fonts.text(flex(19.75), flex(15.74), 500);
    }
  }
}

.content:nth-child(even) {
  background-color: #E4E4E4;

  .letter {
    color: #D9D9D9C2;
  }
}

.content:nth-child(odd) {
  .letter {
    color: #DEDEDE91;
  }
}

.content:nth-child(3) {
  .paginationButton {
    div {
      margin-right: 14px !important;
    }
  }
}

.content:nth-child(4) {
  @include media.screen('desktop') {
    .paginationButtonWrapper {
      margin-right: 0;
      min-width: 100%;
    }
  }
}

.content:nth-child(5) {
  @include media.screen('desktop') {
    h2 {
      min-width: max-content;
    }

    .paginationButtonWrapper {
      margin-right: 0;
      min-width: 100%;
    }
  }
}
