@use 'mixins/fonts';
@use 'mixins/media';

.services-container {
  background-color: var(--color-white-secondary);
}

.services {
  padding: 40px 0;
  background-color: var(--color-white-secondary);

  .logoContainer {
    display: none;
  }
}

.title {
  @include fonts.text(48px, 52px, 400);

  color: var(--color-text-tertiary);
}

.number {
  color: var(--color-text-tertiary);
}

.info-block {
  &::-webkit-scrollbar {
    display: none;
  }
}

.text-top {
  @include fonts.text(24px, 28px, 400);

  text-indent: 26px;
  margin: 24px 0 48px;
  color: var(--color-text-quaternary);
}

.grid {
  display: grid;
  gap: 24px;

  @include media.screen('tablet') {
    grid-template-columns: 1fr 1fr;
  }
}

.paragraph {
  min-height: auto;

  & h3 {
    @include fonts.text(30px, 34px, 400);

    margin-bottom: 8px;
  }
}

.paragraph:last-child {
  span:first-of-type {
    margin-top: 6px;

    @include media.screen('desktop') {
      margin-top: 0;
    }
  }
}

.services button {
  margin-top: 25px;
}

@include media.screen('desktop') {
  .services {
    padding: flex(4.9) 0 flex(4.85);
    display: flex;
    justify-content: space-between;

    .logoContainer {
      display: block;
      height: max-content;
      width: max-content;
    }
  }

  .title-block {
    width: 51.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }

  .title-top {
    display: flex;
  }

  .number {
    @include fonts.text(20px, 24px, 400);

    letter-spacing: 1px;
    margin-right: 32px;
  }

  .info-block {
    width: 50%;
    overscroll-behavior: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-width: none;
  }

  .text-top {
    @include fonts.text(flex(2.1), flex(2.4), 300);

    letter-spacing: 0;
    text-indent: flex(2.97);
    margin: 0 0 flex(5.9);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: flex(1.53);
    row-gap: flex(2.5);
    margin-bottom: flex(3.96);
  }

  .paragraph {
    & h3 {
      @include fonts.text(flex(2.1), flex(2.4), 400);

      margin-bottom: flex(1.11);
      letter-spacing: 1px;
    }

    &:not(:last-child) {
      @include media.screen('desktop') {
        margin-bottom: flex(0.625);
      }
    }
  }

  .logo {
    width: 40.5vh;
    height: 40.5vh;
    max-width: 530px;
    max-height: 530px;
  }

  .buttonText {
    @include fonts.text(flex(1.46), flex(1.74), 500);

    width: auto;
    height: auto;
  }

  .services button {
    margin-top: 0;

    p {
      letter-spacing: 0.5px;
      font-weight: 500;
    }
  }

  .title {
    flex: 1;

    & h2 {
      @include fonts.text(flex(5.6), flex(5.7), 400);

      margin: 0 0 0 flex(0.35);
    }

    & sup {
      @include fonts.text(flex(1.39), flex(1.66), 400);

      margin-right: flex(2.22);
    }
  }
}
