{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^@assets/(.*)$",
    "^[.]{1,2}/(?!.*\\.scss$)",
    ".*\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
