@use 'mixins/media';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  width: 486px;
  height: max-content;
  background-color: #fff;
  padding: 40px;

  @include media.screen('mobile') {
    width: 350px;
    height: 180px;
    padding: 24px;
  }
}
