@use 'mixins/media';
@use 'mixins/fonts';

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: end;
  transition: all 0.3s ease;
  width: 100%;
}

.search {
  position: relative;
  color: inherit;
  width: 252px;

  & svg {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
  }

  transition: width 0.3s ease;

  &--active {
    width: 100%;
    align-self: start;
  }

  @include media.screen('mobile') {
    width: 100%;
  }

  @include media.screen('desktop-l') {
    &--active {
      width: 100%;
      align-self: start;
    }
  }
}

.input {
  border: 1px solid;
  border-radius: 100px;
  outline: none;
  padding: 14px 57px 13px 44px;
  width: 100%;
  margin-left: auto;
  color: inherit;
  transition: all 0.3s ease;

  @include fonts.text(16px, 20px, 400);

  &::placeholder {
    color: var(--color-text-secondary);

    @include fonts.text(16px, 20px, 400);
  }

  &--dark {
    background-color: #ffffff1a;
    border-color: transparent;

    & + svg {
      color: rgba($color: #fff, $alpha: 30%);
      transition: color 0.2s;
      width: 20px;
      height: 20px;
    }

    & + .iconActive {
      color: var(--color-white);
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:focus-within {
      border-color: var(--color-white);
    }
  }

  &--light {
    background-color: #0000000d;
    border-color: transparent;

    & + svg {
      color: rgba($color: #000, $alpha: 50%);
      transition: color 0.2s;
      width: 20px;
      height: 20px;
    }

    & + .iconActive {
      color: var(--color-black);
      width: 20px;
      height: 20px;
    }

    &:hover,
    &:focus-within {
      border-color: #151719;
    }
  }
}

.clear {
  position: absolute;
  right: 46px;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;

  &--dark {
    color: rgba($color: #fff, $alpha: 30%);
  }

  &--light {
    color: rgba($color: #000, $alpha: 50%);
  }
}
