$sizesMap: (
  'display': (
    'xl': 60px,
    'l': 48px,
    'm': 36px,
    's': 30px,
    'xs': 24px,
  ),  
  'text': (
    'xl': 20px,
    'l': 18px,
    'm': 16px,
    's': 14px,
  ),
);

$lineHeightMap: (
  'display': (
    'xl': 72px,
    'l': 60px,
    'm': 44px,
    's': 38px,
    'xs': 32px,
  ),
  'text': (
    'xl': 30px,
    'l': 28px,
    'm': 24px, 
    's': 20px,
  ),
);

$weightMap: (
  'regular': 400,
  'medium': 500,
  'semi-bold': 600,
);

@mixin display($size, $weight: 'medium') {
  font-size: map-get($sizesMap, 'display', $size);
  line-height: map-get($lineHeightMap, 'display', $size);
  font-weight: if(
    type-of($weight) == 'string',
    map-get($weightMap, $weight),
    $weight
  );
}

@mixin text($size, $weight: 'regular') {
  font-size: map-get($sizesMap, 'text', $size);
  line-height: map-get($lineHeightMap, 'text', $size);
  font-weight: if(
    type-of($weight) == 'string',
    map-get($weightMap, $weight),
    $weight
  );
}
