@use 'mixins/fonts';
@use 'mixins/media';

.quote {
  @include fonts.text(16px, 20px, 400);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
  border-top: 1px solid rgba($color: #000, $alpha: 20%);
  border-bottom: 1px solid rgba($color: #000, $alpha: 20%);

  @include media.screen('desktop') {
    padding: 92px 0;
    margin: 114px 0;
    letter-spacing: 0.2px;
  }

  @include media.screen('desktop-l') {
    padding: 4.79vw 0;
  }

  div {
    margin: 0 auto;
  }
}

.quote__content {
  color: var(--color-text-quaternary);
  text-indent: 18px;
  letter-spacing: 0.3px;

  @include media.screen('desktop') {
    text-indent: 30px;
    letter-spacing: 0.6px;
    word-spacing: -6%;

    @include fonts.text(26px, 30px, 300);
  }

  @include media.screen('desktop-l') {
    @include fonts.text(38px, 42.95px, 300);
  }
}

.quote__author {
  width: max-content;
  font-weight: 500;
  margin: 23px 0 0 auto;
  letter-spacing: 0.3px;
  color: var(--color-text-tertiary);

  @include media.screen('desktop') {
    @include fonts.text(18px, 21px, 500);

    letter-spacing: 0.4px;
  }

  @include media.screen('desktop-l') {
    @include fonts.text(24px, 30.31px, 500);
  }
}
