@use 'mixins/fonts';
@use 'mixins/media';

.wrapperContent {
  position: relative;
  padding: 48px 0;
  overflow-y: hidden;
}

.quote {
  @include fonts.text(16px, 20px, 400);

  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin: 0 auto;
  }
}

.quote__content {
  color: var(--color-text-quaternary);
  text-indent: 18px;
  letter-spacing: 0.3px;
}

.quote__author {
  width: max-content;
  font-weight: 500;
  margin: 23px 0 0 auto;
  letter-spacing: 0.3px;
  color: var(--color-text-tertiary);
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba($color: #000, $alpha: 20%);
}

@include media.screen('desktop') {
  .wrapperContent {
    padding: flex(5.69) 0;
  }

  .quote {
    letter-spacing: 0.2px;
  }

  .quote__content {
    @include fonts.text(38px, 42.95px, 300);

    text-indent: 30px;
    letter-spacing: 0.6px;
    word-spacing: -6%;
  }

  .quote__author {
    @include fonts.text(24px, 30.31px, 500);
    letter-spacing: 0.4px;
    margin: flex(1.6) 0 0 auto;
  }
}
