@use 'mixins/fonts';
@use 'mixins/media';

.accordion {
  display: flex;
  align-items: center;
  margin-top: 48px;

  @include media.screen('desktop') {
    margin-top: 66px;
  }
}

.accordion + .accordion {
  margin-top: 30px;

  @include media.screen('desktop') {
    margin-top: 20px;
  }
}

.content {
  display: none;
}

.accordion--active {
  .content {
    display: block;
  }
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba($color: #000, $alpha: 20%);

  &Title {
    @include fonts.text(24px, 28px, 400);

    letter-spacing: 0.5px;
    color: var(--color-text-tertiary);

    @include media.screen('desktop') {
      letter-spacing: 0.7px;

      @include fonts.text(36px, 40px, 400);
    }
  }

  &IconWrapper {
    display: flex;
    align-items: center;
  }

  &IconLabel {
    @include fonts.text(24px, 28px, 500);

    display: none;
    color: var(--color-text-tertiary);

    @include media.screen('desktop') {
      display: block;
      line-height: 40px;
      letter-spacing: 0.4px;
      margin-right: 34px;
    }
  }

  @include media.screen('desktop') {
    margin: 0 14px 16px 0;
  }
}
