@use 'mixins/fonts';
@use 'mixins/media';

.accordion {
  box-sizing: border-box;
  margin-top: 48px;
  border-bottom: 1px solid rgba($color: #000, $alpha: 20%);

  svg {
    transition: transform 0.2s;
  }

  @include media.screen('desktop') {
    margin-top: 66px;
  }
}

.accordion + .accordion {
  margin-top: 30px;

  @include media.screen('desktop') {
    margin-top: 37px;
  }
}

.content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.7s ease;

  > div {
    overflow: hidden;
  }
}

.accordion--active {
  .content {
    grid-template-rows: 1fr;
  }

  .trigger {
    svg {
      transform: rotate(45deg);
    }
  }
}

.trigger {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding-bottom: 30px;

  &Title {
    @include fonts.text(24px, 28px, 400);

    letter-spacing: 0.5px;
    text-align: left;
    color: var(--color-text-tertiary);

    @include media.screen('desktop') {
      letter-spacing: 0.7px;

      @include fonts.text(36px, 40px, 400);
    }
  }

  &IconWrapper {
    display: flex;
    align-items: center;
  }

  &IconLabel {
    @include fonts.text(24px, 28px, 500);

    font-family: var(--font-neue-haas);
    display: none;
    color: var(--color-text-tertiary);

    @include media.screen('desktop') {
      display: block;
      line-height: 40px;
      letter-spacing: 0.3px;
      margin-right: 38px;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  svg {
    color: var(--color-text-tertiary);

    @include media.screen('desktop') {
      margin-right: 12px;
    }
  }

  @include media.screen('desktop') {
    padding-bottom: 14px;
    margin: 0 14px 16px 0;
  }
}

.contentFlex {
  @include media.screen('desktop') {
    display: flex;
    justify-content: column;
    gap: 20px;
  }
}
