@use 'mixins/media';
@use 'mixins/fonts';

.nav {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;

  padding: 48px 48px;

  &--active {
    height: 262px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @include media.screen('mobile') {
    padding: 0 20px;
    height: 360px;
    transition: all 0.3s ease;

    &--active {
      max-height: 20vh;
      width: 100%;
    }
  }

  @include media.screen('desktop-l') {
    padding: 64px flex(3.33);

    &--active {
      height: 328px;
    }
  }
}

.list {
  display: flex;
  flex-flow: column wrap;
  gap: 32px 116px;
  list-style: none;
  max-height: 201px;
  max-width: 500px;
  opacity: 0;
  animation: listDisappear 0.2s ease;

  &--active {
    opacity: 1;
    animation: listAppear 0.3s ease;
  }

  @include media.screen('mobile') {
    flex-wrap: nowrap;
    transition: all 0.3s ease;

    &--withQuery {
      display: none;
      height: fit-content;
    }
  }
}

.link {
  transition: all 0.3s ease;

  &--dark {
    color: var(--color-text-secondary);

    &:hover,
    &.link--active {
      color: var(--color-white);
    }

    @include media.screen('mobile') {
      color: var(--color-white);
    }
  }

  &--light {
    color: var(--color-text-tertiary);

    &:hover,
    &.link--active {
      color: var(--color-black);
    }
  }

  &__title {
    @include fonts.text(30px, 34px, 400);

    display: flex;
    gap: 7px;
    width: fit-content;

    @include media.screen('mobile') {
      @include fonts.text(30px, 34px, 400);

      gap: 19px;
    }

    @include media.screen('desktop-l') {
      @include fonts.text(40px, 45.34px, 400);
    }
  }

  &__titleIndex {
    width: 48px;

    @include fonts.text(16px, 20px, 400);

    white-space: nowrap;

    @include media.screen('mobile') {
      order: -1;

      @include fonts.text(16px, 20px, 400);

      margin: -0 -14px 0 0;
    }

    @include media.screen('desktop-l') {
      @include fonts.text(20px, 26.67px, 400);
    }
  }
}

@keyframes listAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes listDisappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
