@use 'mixins/fonts';
@use 'mixins/media';

.cards {
  margin-top: 49px;
}

.swiper {
  overflow: visible !important;
}

.slide {
  width: fit-content !important;
}

.slide:not(:first-child) {
  margin-left: 16px;
}

.cards__btns {
  padding: 48px 0 40px;
}

.cards__pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cards__explore {
  width: 100%;
  display: flex;
  margin-top: -2px;
  color: var(--color-black);

  p {
    font-weight: 500;
    letter-spacing: 0.5px;
  }
}

.linkButton {
  display: block;
  width: fit-content;
}

@include media.screen('desktop') {
  .cards {
    margin-top: flex(3.89);
  }

  .slide:not(:first-child) {
    margin-left: flex(1.39);
  }

  .cards__btns {
    display: flex;
    justify-content: space-between;
    padding: flex(4.3) 0 flex(4.93);
  }

  .cards__pagination {
    margin-bottom: 0;
    max-width: flex(9.2);
  }

  .cards__explore {
    max-width: flex(22.5);

    & p {
      letter-spacing: 0.7px;
      font-size: flex(1.46);
      line-height: flex(1.74);
      margin-left: flex(0.69);
    }
  }
}
