@use 'mixins/fonts';
@use 'mixins/media';

.choose {
  padding: 38px 0 42px;
  background-color: var(--color-middle-gray);

  @include media.screen('desktop') {
    padding: 123px 0 122px;
  }
}

.choose__title {
  letter-spacing: 1px;
  overflow: hidden;

  @include fonts.text(48px, 52px, 400);

  @include media.screen('desktop') {
    letter-spacing: 2px;

    @include fonts.text(90px, 94px, 400);
  }
}

.cards {
  margin-top: 48px;

  @include media.screen('desktop') {
    margin-top: 76px;
    display: flex;
    gap: 20px;
  }
}

.card {
  transition: filter 0.7s;
  justify-content: flex-start;
  height: 168px;
  padding: 22px 20px 20px;

  p {
    letter-spacing: 0.5px;
  }

  div {
    margin-top: 20px;

    p {
      letter-spacing: 0.32px;
    }

    @include media.screen('desktop') {
      margin-top: 38px;
    }
  }

  &:hover {
    filter: invert(1);
  }

  @include media.screen('desktop') {
    height: 208px;
  }
}

.card + .card {
  margin-top: 20px;

  @include media.screen('desktop') {
    margin-top: 0;
  }
}
