@use './mixins/fonts/index';

/* Изменить названия цветов на нормальные в root'ах */

$color-white: #fff;
$color-white-secondary: #f7f7f7;
$color-black: #151719;
$color-black-secondary: #1c1b20;
$color-dark-gray: #363636;
$color-middle-gray: #e4e4e4;
$color-gray: #878787;
$color-light-gray: #dedede;
$color-light-dark: #878d93;
$color-text-secondary: #878787;
$color-text-tertiary: #0b0a0f;
$color-text-quaternary: #4e5256;

:root {
  --color-white: #{$color-white};
  --color-white-secondary: #{$color-white-secondary};
  --color-black: #{$color-black};
  --color-black-secondary: #{$color-black-secondary};
  --color-dark-gray: #{$color-dark-gray};
  --color-middle-gray: #{$color-middle-gray};
  --color-gray: #{$color-gray};
  --color-light-gray: #{$color-light-gray};
  --color-light-dark: #{$color-light-dark};
  --color-text-secondary: #{$color-text-secondary};
  --color-text-tertiary: #{$color-text-tertiary};
  --color-text-quaternary: #{$color-text-quaternary};
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --color-main: #{$color-white};
//     --color-text: #{$color-white-secondary};
//     --color-black: #{$color-black};
//     --color-black-secondary: #{$color-black-secondary};
//     --color-dark-gray: #{$color-dark-gray};
//     --color-middle-gray: #{$color-middle-gray};
//     --color-gray: #{$color-gray};
//     --color-light-gray: #{$color-light-gray};
//     --color-light-dark: #{$color-light-dark};
//     --color-text-secondary: #{$color-text-secondary};
//     --color-text-tertiary: #{$color-text-tertiary};
//     --color-text-quaternary: #{$color-text-quaternary};
//   }
// }

html {
  max-width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-neue-haas);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: auto;
  overscroll-behavior: none;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  top: 0;
  left: 0;
  height: 84px;
  background: rgb(255 255 255 / 0.1%);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.swiper-wrapper {
  display: flex;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

// Это можно комментить, чтобы менять цвет body
// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }
