@use 'mixins/fonts';

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 124px;
}

.main-title {
  @include fonts.text(60px, 64px, 400);
  max-width: 600px;
  letter-spacing: 1.2px;
}

.heading-text {
  @include fonts.text(30px, 34px, 400);
  max-width: 662px;
  letter-spacing: 0.6px;
}

.paginated-content {
  display: flex;
  align-items: end;
  min-height: 498px;
  justify-content: space-between;
}

.paragraph-list {
  margin-bottom: 33px;
}
