@use 'mixins/fonts';
@use 'mixins/media';

.popup {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;

    @include media.screen('mobile') {
      height: 104px;
    }
  }

  &__text {
    @include fonts.text(36px, 40px, 400);

    letter-spacing: 0.7px;

    @include media.screen('mobile') {
      @include fonts.text(24px, 28px, 400);

      letter-spacing: 0.45px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &__cancel {
    @include fonts.text(24px, 28px, 600);

    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 45px;

    @include media.screen('mobile') {
      margin-left: 25px;
    }
  }
}

.popup__content .popup__btnRound {
  @include media.screen('mobile') {
    width: max-content;
    filter: none;
    border: none;
  }
}

.popup__content .popup__btnText {
  @include media.screen('mobile') {
    margin-right: 8px;
  }
}

.popup__btn:hover {
  .popup__btnRound {
    background-color: transparent !important;
  }

  svg {
    color: var(--color-black-secondary) !important;
  }
}
