@use 'mixins/fonts';
@use 'mixins/media';

.letter {
  overflow: hidden;

  @include fonts.text(113px, 100%, 500);

  text-transform: uppercase;
  color: var(--color-light-gray);
  user-select: none;
}
