@use 'mixins/media';
@use 'mixins/fonts';

.footerAddress {
  max-width: 274px;

  @include media.screen('tablet') {
    justify-self: center;
  }

  @include media.screen('mobile') {
    order: 3;
  }

  @include media.screen('desktop-l') {
    max-width: 346px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;

    @include media.screen('desktop-l') {
      gap: 40px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include fonts.text(16px, 20px, 400);

    color: var(--color-white);
    gap: 8px;

    @include media.screen('desktop-l') {
      gap: 10px;

      @include fonts.text(20px, 25.26px, 400);
    }
  }

  &__item:nth-child(2) {
    p {
      letter-spacing: 0.1px;
    }
  }

  &__subtitle {
    letter-spacing: -0.2px;
    color: var(--color-text-secondary);
  }
}

.link {
  @include fonts.text(16px, 20px, 400);

  color: var(--color-white);
  transition: color 0.7s;
  letter-spacing: 0.3px;

  &:hover {
    color: var(--color-text-secondary);
  }

  @include media.screen('desktop-l') {
    @include fonts.text(20px, 25.26px, 400);
  }
}
