@use 'mixins/media';
@use 'mixins/fonts';

.footerAddress {
  max-width: 274px;

  @include media.screen('tablet') {
    justify-self: center;
  }

  @include media.screen('mobile') {
    order: 3;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
  }

  &__item {
    display: flex;
    gap: 7px;
    flex-direction: column;

    @include fonts.text(16px, 20px, 400);

    color: var(--color-white);

    @include media.screen('desktop') {
      gap: 8px;
    }
  }

  &__item:nth-child(2) {
    p {
      letter-spacing: 0.1px;
    }
  }

  &__subtitle {
    letter-spacing: -0.2px;
    color: var(--color-text-secondary);
  }
}

.link {
  @include fonts.text(16px, 20px, 400);

  color: var(--color-white);
  letter-spacing: 0.3px;

  &:hover {
    color: var(--color-text-secondary);
  }
}
