@use 'mixins/fonts';
@use 'mixins/media';

.heading {
  position: relative;
  height: 613px;

  @include media.screen('desktop') {
    height: flex(37.84);
  }
}

.title {
  @include fonts.text(230px, 107%, 400);

  color: var(--color-white);
  position: absolute;
  top: 33%;
  margin-top: -10px;
  overflow: hidden;

  @include media.screen('desktop') {
    @include fonts.text(flex(14.2), 107%, 400);
  }
}

.miniTitle {
  display: none;
  color: var(--color-white);
  position: absolute;
  white-space: nowrap;
  top: 48%;
  left: calc(50% - var(--width));

  h1,
  span {
    @include fonts.text(31px, 100%, 500);

    text-transform: uppercase;
  }

  span {
    transform: translateY(-1px);
  }
}

.miniButton {
  position: absolute;
  right: 0;
  bottom: 50px;
}

.button {
  display: none;
}

.letter {
  display: none;

  @include fonts.text(113px, 80%, 500);

  color: var(--color-white);
  position: absolute;
  top: 90px;

  @include media.screen('tablet') {
    top: 140px;
  }

  @include media.screen('desktop') {
    top: 140px;
  }
}

@media (width <= 1280px) {
  .heading {
    height: 747px;
  }

  .title {
    display: none;
  }

  .miniTitle {
    display: flex;
  }

  .letter {
    display: block;
  }

  .miniButton {
    display: none;
  }

  .button {
    display: block;
    position: absolute;
    right: 0;
    bottom: 43px;
  }
}
