@use 'mixins/media';
@use 'mixins/fonts';

.wrapper {
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  height: 0;
  min-height: 0;
  border-bottom: 1px solid currentcolor;
  transition:
    min-height 0.4s ease,
    border-top 0.6s ease;

  &--dark {
    background-color: var(--color-black);
    color: #fff;
    border-color: #fff3;
  }

  &--light {
    background-color: var(--color-white-secondary);
    color: #000;
    border-color: #0003;
  }

  &--active {
    min-height: calc(100vh - 83px);
    overflow-y: scroll;

    @include media.screen('desktop-l') {
      min-height: calc(100vh - 89px);
      overflow-y: scroll;
    }

    &.wrapper--dark {
      border-top: 1px solid #fff3;
      border-bottom: 1px solid #fff3;
    }

    &.wrapper--light {
      border-top: 1px solid #0003;
      border-bottom: 1px solid #0003;
    }

    @include media.screen('mobile') {
      min-height: calc(100vh - 60px);
      overflow-y: scroll;
    }
  }

  @include media.screen('mobile') {
    top: 60px;
  }

  @include media.screen('desktop-l') {
    top: 89px;
  }
}

.mobileSearch {
  display: none;
  padding: 30px 20px 0;

  @include media.screen('mobile') {
    display: block;
  }
}
