@use 'mixins/media';
@use 'mixins/fonts';

.wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  height: 0;
  min-height: 0;
  border-bottom: 1px solid currentcolor;
  transition:
    min-height 0.4s ease,
    border-top 0.6s ease;

  &--dark {
    background-color: var(--color-black);
    color: #fff;
    border-color: #fff3;
  }

  &--light {
    background-color: var(--color-white-secondary);
    color: #000;
    border-color: #0003;
  }

  &--grey {
    background-color: var(--color-middle-gray);
    color: #000;
    border-color: #0003;
  }

  &--active {
    min-height: calc(100vh - 62px);
    overflow-y: scroll;

    &.wrapper--dark {
      border-top: 1px solid #fff3;
      border-bottom: 1px solid #fff3;
    }

    &.wrapper--light {
      border-top: 1px solid #0003;
      border-bottom: 1px solid #0003;
    }

    &.wrapper--grey {
      border-top: 1px solid #0003;
      border-bottom: 1px solid #0003;
    }
  }
}

.mobileSearch {
  display: none;
  padding: 30px 20px 0;
  margin-bottom: 32px;
}

@include media.screen('desktop') {
  .wrapper {
    top: 64px;
    &--active {
      min-height: calc(100vh - 64px);
    }
  }
}

@include media.screen('tablet') {
  .wrapper {
    top: 64px;
    &--active {
      min-height: calc(100vh - 64px);
    }
  }
}

@include media.screen('mobile') {
  .mobileSearch {
    display: block;
  }
}

.linkLogo {
  position: absolute;
  bottom: 64px;
  right: 64px;
  width: 312px;
  height: 312px;
  transition:
    width 0.6s ease,
    height 0.6s ease;

  &--active {
    height: 200px;
    width: 200px;
  }

  // @include media.screen('desktop-m') {
  //   bottom: 48px;
  //   right: 48px;

  //   &--active {
  //     height: 166px;
  //     width: 166px;
  //   }
  // }

  @include media.screen('mobile') {
    bottom: 20px;
    right: 20px;
    width: 166px;
    height: 166px;

    &--active {
      height: 166px;
      bottom: 20px;
      right: 20px;
    }
  }

  &--dark {
    color: #0003;
  }
}
