@use 'mixins/fonts';
@use 'mixins/media';

.word {
  height: fit-content;
  display: inline-flex;
  font-size: 48px;
  font-weight: bold;
  overflow: var(--overflow);
  font-family: sans-serif;
  color: var(--color-white);
  text-transform: uppercase;
  user-select: none;

  @include media.screen('desktop-l') {
    @include fonts.text(7.85vw, 100%, 500);
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(30px);
  width: var(--width);
  animation:
    appear var(--appear-duration) ease forwards,
    disappear var(--disappear-duration) ease forwards;
  animation-delay:
    calc(var(--count) * var(--appear-delay) * 1s),
    calc(
      var(--count-dissapear) * var(--disappear-delay) * 1s +
        var(--appear-duration) + 1.5s
    );

  @include fonts.text(31px, 100%, 600);

  @include media.screen('desktop-l') {
    @include fonts.text(7.85vw, 100%, 500);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(30px);
    width: var(--width);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    width: max-content;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
