@use 'mixins/media';
@use 'mixins/fonts';

.card {
  width: 350px;
  height: 200px;
  background-color: var(--color-white);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media.screen('desktop') {
    height: flex(19.4);
  }
}

.card__title {
  @include fonts.text(30px, 34px, 400);

  max-width: 200px;
  letter-spacing: 0.8px;
  color: var(--color-text-tertiary);

  @include media.screen('desktop') {
    max-width: 220px;

    @include fonts.text(flex(2.5), flex(2.7), 400);
  }
}

.card__content {
  @include fonts.text(16px, 21px, 400);

  letter-spacing: 0.3px;
  color: var(--color-text-quaternary);

  @include media.screen('desktop') {
    letter-spacing: 0.4px;

    @include fonts.text(flex(1.38), flex(1.66), 400);
  }
}
