@use 'mixins/media';
@use 'mixins/fonts';

.about {
  padding: 80px 0 40px;

  @include media.screen('desktop') {
    h2 {
      letter-spacing: 1px;

      @include fonts.text(48px, 52px, 400);
    }

    padding: 0 0 60px;
  }
}

.container {
  position: relative;

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
    gap: 220px;
  }
}

.letters {
  display: none;

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;

    span:first-of-type {
      margin-left: 7px;
      margin-top: 6px;
    }
  }
}

.about__content {
  @include media.screen('desktop') {
    width: 776px;
  }
}

.about__text {
  margin: 24px 0 48px;
  color: var(--color-text-quaternary);
  text-indent: 45px;
  letter-spacing: -0.1px;

  @include fonts.text(24px, 28px, 400);

  @include media.screen('desktop') {
    margin: 0 0 94px;
    text-indent: 40px;

    @include fonts.text(30px, 34px, 400);
  }
}

.company__stats {
  @include media.screen('desktop') {
    p {
      margin-bottom: 24px !important;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    :global(.line) {
      bottom: 22px !important;
    }
  }
}

.about .company__stats {
  margin-top: -15px;

  @include media.screen('desktop') {
    max-width: 100%;
    max-width: 762px;
    margin: -15px -5px 0 0;
  }
}

.company__stats + .company__stats {
  margin-top: 25px;

  @include media.screen('desktop') {
    margin-top: 58px;
  }
}

.about__img {
  display: flex;
  margin: 48px 0 0 auto;
  width: 154px;
  height: 152px;

  @include media.screen('desktop') {
    position: absolute;
    width: 348px;
    height: 343px;
    left: 0;
    bottom: 20px;
  }
}
