@use 'mixins/media';
@use 'mixins/fonts';

.about {
  padding: 80px 0 40px;

  @include media.screen('desktop') {
    h2 {
      @include fonts.text(48px, 52px, 400);
    }

    padding: 0 0 80px;
  }
}

.container {
  position: relative;

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
  }
}

.letters {
  display: none;

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;

    p:first-of-type {
      margin-left: 22px;
    }
  }
}

.about__content {
  @include media.screen('desktop') {
    width: 770px;
  }
}

.about__text {
  margin: 24px 0 48px;
  color: var(--color-text-quaternary);
  text-indent: 45px;
  letter-spacing: -0.4%;

  @include fonts.text(24px, 28px, 400);

  @include media.screen('desktop') {
    margin: 2px 0 74px;
    text-indent: 36px;

    @include fonts.text(30px, 34px, 400);
  }
}

.about .company__stats {
  margin-top: -15px;

  @include media.screen('desktop') {
    max-width: 100%;
    max-width: 762px;
    margin: -15px -5px 0 -7px;
  }
}

.company__stats + .company__stats {
  margin-top: 25px;

  @include media.screen('desktop') {
    margin-top: 58px;
  }
}

.about__img {
  display: flex;
  margin: 48px 0 0 auto;
  width: 154px;
  height: 152px;

  @include media.screen('desktop') {
    position: absolute;
    width: 348px;
    height: 343px;
    left: 0;
    bottom: 0;
  }
}
