@use 'mixins/media';

.accordion-wrapper {
  height: max-content;

  @include media.screen('desktop') {
    height: 668px;
    margin-bottom: 55px;
  }
}

.accordion {
  width: 100%;

  @include media.screen('desktop') {
    max-width: 660px;
  }
}
