@use 'mixins/media';

.accordionWrapper {
  height: max-content;
}

.accordion {
  width: 100%;
}

.willChange {
  will-change: opacity;
}

@include media.screen('desktop') {
  .accordion {
    max-width: flex(45.97);
  }
}
