@use 'mixins/fonts';
@use 'mixins/media';

.wrapper {
  border-top: 1px solid rgba($color: #000, $alpha: 20%);

  @include media.screen('desktop') {
    border: none;
  }
}

.slogan {
  color: var(--color-black);
  max-width: 45vw;
  padding: 48px 0;

  @include fonts.text(clamp(10px, 5vw, 300px), 5.46vw, 400);

  @include media.screen('tablet') {
    margin: 0 auto;
  }

  @include media.screen('desktop') {
    @include fonts.text(clamp(10px, 5vw, 300px), 5.46vw, 400);
  }

  @include media.screen('desktop-l') {

    @include fonts.text(clamp(10px, 5vw, 300px), 5.46vw, 400);
  }
}

.slogan span:nth-of-type(2) {
  color: rgb(21 23 25 / 50%);
}

.slogan span:last-of-type {
  color: rgb(21 23 25 / 20%);
}
