@use 'mixins/fonts';
@use 'mixins/media';

.wrapper {
  border-top: 1px solid rgba($color: #000, $alpha: 20%);
}

.slogan {
  color: var(--color-black);
  max-width: 662px;
  padding: 48px 0;

  @include fonts.text(48px, 52px, 400);
}

.slogan span:nth-of-type(2) {
  color: rgb(21 23 25 / 50%);
}

.slogan span:last-of-type {
  color: rgb(21 23 25 / 20%);
}

@include media.screen('tablet') {
  .slogan {
    margin: 0 auto;
  }
}

@include media.screen('desktop') {
  .wrapper {
    border: none;
  }

  .slogan {
    @include fonts.text(flex(4.86), flex(5.2), 400);
    max-width: flex(40.28);
    padding: flex(1.11) 0 0 0;
  }
}
