@use 'mixins/fonts';
@use 'mixins/media';

.wrapper {
  border-top: 1px solid rgba($color: #000, $alpha: 20%);

  @include media.screen('desktop') {
    border: none;
  }
}

.slogan {
  color: var(--color-black);
  max-width: 662px;
  padding: 48px 0;

  @include fonts.text(48px, 52px, 400);

  @include media.screen('tablet') {
    margin: 0 auto;
  }

  @include media.screen('desktop') {
    @include fonts.text(80px, 84px, 400);
  }

  @include media.screen('desktop-l') {
    max-width: 45vw;
    @include fonts.text(clamp(10px, calc(var(--vw) * 5), 300px), calc(var(--vw) * 5.46), 400);
  }
}

.slogan span:nth-of-type(2) {
  color: rgb(21 23 25 / 50%);
}

.slogan span:last-of-type {
  color: rgb(21 23 25 / 20%);
}
