@use 'mixins/fonts';
@use 'mixins/media';

.header {
  width: max-content;
  position: relative;
  letter-spacing: 2%;
}

.index {
  @include fonts.text(16px, 20px, 500);

  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: -0.5px;

  @include media.screen("desktop"){
    top: -4px;
    left: 0;

    @include fonts.text(20px, 24px, 500);
  }
}

.text {
  margin: 0 155px 0 0;
  letter-spacing: 1px;

  @include fonts.text(48px, 52px, 400);

  @include media.screen("desktop"){
    margin: 0 0 0 79px;
    letter-spacing: 2%;

    @include fonts.text(90px, 94px, 400);
  }
}

.header--dark {
  .text {
    color: var(--color-text-tertiary);
  }

  .index {
    color: var(--color-text-quaternary);
  }
}

.header--light {
  .text {
    color: var(--color-white);
  }

  .index {
    color: var(--color-white);
  }
}
