@use 'mixins/fonts';
@use 'mixins/media';

.header {
  flex: 1;
  position: relative;
  min-width: max-content;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  height: max-content;

  --height: 56px;

  @include media.screen('desktop') {
    order: -1;
    justify-content: flex-start;

    @include fonts.text(20px, 24px, 400);
  }
}

.index {
  @include fonts.text(16px, 20px, 400);

  letter-spacing: 0.5px;
  position: relative;
  order: 1;

  @include media.screen('desktop') {
    order: -1;
    top: -5px;
    margin-right: 32px;
    margin-top: 5px;

    @include fonts.text(20px, 24px, 400);
  }
}

.text {
  letter-spacing: 1px;
  overflow: hidden;
  height: max-content;

  @include fonts.text(48px, 52px, 400);

  span {
    transform: translateY(20px);
  }

  @include media.screen('desktop') {
    margin: 0 0 0 5px;
    letter-spacing: 2px;

    @include fonts.text(90px, 94px, 400);
  }

  @include media.screen('desktop-l') {
    @include fonts.text(109px, 113.61px, 400);
  }
}

.header--dark {
  .text {
    color: var(--color-text-tertiary);
  }

  .index {
    color: var(--color-text-quaternary);
  }
}

.header--light {
  .text {
    color: var(--color-white);
  }

  .index {
    color: var(--color-white);
  }
}

.animate {
  position: relative;
  animation-duration: calc(300ms + var(--count) * 50ms);
  animation-name: up;
}

@keyframes up {
  from {
    top: var(--height);
  }

  to {
    top: 0;
  }
}

@include media.screen('desktop') {
  @keyframes up {
    from {
      top: calc(var(--height) * 2);
    }

    to {
      top: 0;
    }
  }
}
