@use 'mixins/fonts';
@use 'mixins/media';

.header {
  width: max-content;
  position: relative;
  letter-spacing: 2%;
  overflow: hidden;
  min-width: max-content;

  --height: 56px;
}

.index {
  @include fonts.text(16px, 20px, 400);
  

  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.5px;

  @include media.screen('desktop') {
    top: 0;
    left: 0;

    @include fonts.text(20px, 24px, 400);
  }
}

.text {
  margin: 0 155px 0 0;
  letter-spacing: 1px;
  overflow: hidden;

  @include fonts.text(48px, 52px, 400);

  span {
    transform: translateY(20px);
  }

  @include media.screen('desktop') {
    margin: 0 0 0 79px;
    letter-spacing: 2px;

    @include fonts.text(90px, 94px, 400);
  }
}

.header--dark {
  .text {
    color: var(--color-text-tertiary);
  }

  .index {
    color: var(--color-text-quaternary);
  }
}

.header--light {
  .text {
    color: var(--color-white);
  }

  .index {
    color: var(--color-white);
  }
}

.animate {
  position: relative;
  animation-duration: calc(300ms + var(--count) * 50ms);
  animation-name: up;
}

@keyframes up {
  from {
    top: var(--height);
  }

  to {
    top: 0;
  }
}

@include media.screen('desktop') {
  @keyframes up {
    from {
      top: calc(var(--height) * 2);
    }

    to {
      top: 0;
    }
  }
}
