@use 'mixins/fonts';
@use 'mixins/media';

.slogan {
  padding: 120px 0 60px;
  height: 100dvh;

  @include media.screen('desktop') {
    padding: flex(14.4) 0 flex(2.7);
  }

  .explore {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;

    p {
      letter-spacing: 0;
    }

    @include media.screen('tablet') {
      max-width: 260px;
    }

    @include media.screen('desktop') {
      display: none;
    }
  }
}

.slogan__text {
  letter-spacing: 2px;
  /* stylelint-disable-next-line no-descending-specificity */
  p {
    @include fonts.text(48px, 56px, 400);

    overflow: hidden;
    letter-spacing: 1.1px;

    @include media.screen('desktop') {
      letter-spacing: 2px;

      @include fonts.text(flex(5.55), flex(6.527), 400);
    }
  }

  p:last-of-type {
    width: 263px;
    text-align: right;
    letter-spacing: 0.6px;
    margin: 40px 0 14px auto;

    @include media.screen('desktop') {
      width: auto;
      letter-spacing: 1.8px;
      margin: 12px 0 0 auto;
    }
  }
}

.slogan__back {
  margin-top: 54px;
  display: flex;
  justify-content: space-between;

  .explores {
    display: none;
    margin: 0;
  }

  @include media.screen('desktop') {
    align-items: center;
    margin-top: 86px;

    .explores {
      display: flex;
      gap: flex(1.04);
      width: fit-content;

      p {
        margin-right: 0;
        font-size: flex(1.11);
        letter-spacing: 0.1px;
      }
    }
  }
}
