@use 'mixins/fonts';
@use 'mixins/media';

// Функция помогает перевести значения из макета 1440px к 1280px
@function flex1440($n) {
  @return $n * 0.888 / 14.4;
}

.technologiesSection {
  display: flex;
  align-items: flex-start;
  gap: flex(flex1440(20));
  padding: flex(flex1440(79.5)) 0;
  word-spacing: 2px;

  @include media.screen('tablet-mobile') {
    flex-direction: column;
    gap: 24px;
    padding: 44px 0 24px;
  }

  &__wrapper {
    overflow: hidden;
  }

  &__title {
    @include fonts.text(flex(flex1440(52)), flex(flex1440(52)), 500);

    color: var(--color-text-tertiary);
    display: flex;
    gap: flex(flex1440(24));
    width: 50%;
    overflow: visible;
    letter-spacing: 0.9px;

    sup {
      letter-spacing: 0;
    }

    @include media.screen('tablet-mobile') {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 20px;
      overflow: visible;
      letter-spacing: 0.5px;

      @include fonts.text(30px, 30px, 400);
    }
  }

  &__titleIndex {
    width: flex(flex1440(48));

    @include fonts.text(flex(flex1440(20)), flex(flex1440(24)), 400);

    color: var(--color-text-quaternary);
    white-space: nowrap;

    @include media.screen('tablet-mobile') {
      order: -1;

      @include fonts.text(16px, 20px, 400);

      width: fit-content;
      margin-top: -2px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: flex(flex1440(20));
    width: 50%;

    @include media.screen('tablet-mobile') {
      width: 100%;
      gap: 20px;
      padding-right: 4px;
    }
  }

  &__mainText,
  &__secondaryText {
    @include fonts.text(flex(flex1440(20)), flex(flex1440(24)), 300);

    color: var(--color-text-quaternary);
    word-spacing: 3px;
    letter-spacing: -0.001px;

    @include media.screen('tablet-mobile') {
      @include fonts.text(16px, 20px, 400);
    }
  }

  &__mainText {
    letter-spacing: -0.1px;
  }

  &__secondaryText {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-right: flex(flex1440(4));
  }

  &__secondaryTextTitle {
    @include fonts.text(flex(flex1440(20)), flex(flex1440(24)), 500);

    color: var(--color-text-tertiary);
    letter-spacing: 0.5px;

    @include media.screen('tablet-mobile') {
      @include fonts.text(20px, 24px, 500);
    }
  }

  &__line {
    height: 1px;
    width: 100%;
    background-color: #0003;
  }
}

.line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: rgba($color: #000, $alpha: 20%);
}
