@use 'mixins/fonts';
@use 'mixins/media';

.header {
  padding: 120px 0 30px;

  @include media.screen('desktop') {
    padding: 170px 0 145px;
  }
}

.title {
  @include fonts.text(55px, 64px, 'regular');

  margin-bottom: 20px;
  overflow: hidden;
  letter-spacing: 1px;
  color: var(--color-text-tertiary);

  @include media.screen('desktop') {
    letter-spacing: 0;
    margin: 0 0 55px 38px;

    @include fonts.text(210px, 220px, 'regular');
  }
}

.content {
  @include fonts.text(24px, 28px, 'regular');

  text-indent: 66px;
  letter-spacing: -0.1px;
  color: var(--color-text-quaternary);

  @include media.screen('desktop') {
    @include fonts.text(30px, 34px, 'regular');

    text-indent: 82px;
    max-width: 662px;
    margin-left: auto;
  }
}
