@use 'mixins/media';
@use 'mixins/fonts';

.menu {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-left: 138px;

  @include media.screen('mobile') {
    margin: 0;
  }

  @include media.screen('desktop') {
    gap: 40px;
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  border-bottom: 1px solid;
  font-family: var(--font-neue-haas);
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  transition: border-color 0.3s ease;

  // Жирность должна быть 300
  @include fonts.text(16px, 20px, 400);


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: inherit;
    }
  }

  &--active {
    margin-left: 20px;
    border-color: transparent;
    width: 20px;
    height: 20px;

    &:hover {
      border-color: transparent;
    }
  }
}

.desktopSearch {
  display: block;
  width: 100%;

  @include media.screen('mobile') {
    display: none;
  }
}
