@use 'mixins/fonts';

.paginated-block {
  display: flex;
  min-height: 800px;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph-list {
  position: absolute;
  bottom: 84px;
  right: 0;
}

.paragraph-paginate {
  display: none;
  max-width: 662px;
  position: absolute;
  bottom: 186px;
  left: 0;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
  margin-bottom: 124px;
}

.main-title {
  @include fonts.text(60px, 64px, 400);

  max-width: 500px;
  letter-spacing: 1.2px;
  margin-right: 40px;
}

.heading-text {
  @include fonts.text(30px, 34px, 400);

  color: var(--color-text-quaternary);
  max-width: 662px;
  letter-spacing: 0.6px;
}

.line {
  position: absolute;
  top: 176px;
  height: 1px;
  width: 100%;
  background-color: rgb(0 0 0 / 20%);
}

.paginated-content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.letter {
  @include fonts.text(250px, 67%, 500);

  color: var(--color-light-gray);
}

.mySwiperWrapper {
  :global(.swiper-pagination) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.swiper-pagination-bullet) {
    background-color: rgb(217 217 217 / 100%);
    width: 5px;
    height: 5px;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: rgb(78 82 86 / 100%);
    width: 10px;
    height: 10px;
  }
}

@media (width <= 1400px) {
  .heading {
    flex-direction: column;
  }

  .main-title {
    margin-right: 0;
    max-width: 650px;
    margin-bottom: 24px;
  }

  .heading-text {
    max-width: 1000px;
  }

  .line {
    top: 244px;
  }
}

@media (width <= 1080px) {
  .paragraph-paginate {
    display: block;
  }

  .main-title {
    @include fonts.text(30px, 34px, 400);
  }

  .heading-text {
    @include fonts.text(24px, 28px, 300);
  }

  .paginated-block {
    justify-content: start;
  }

  .heading-text {
    max-width: 700px;
  }

  .paragraph-list {
    display: none;
  }

  .line {
    top: 136px;
  }

  .letter {
    @include fonts.text(250px, 0, 500);
  }
}

@media (width <= 800px) {
  .paragraph-paginate {
    max-width: 400px;
  }

  .heading {
    margin-bottom: 93px;
  }

  .heading-text {
    letter-spacing: 0.5px;
    max-width: 410px;
  }

  .main-title {
    letter-spacing: 0.6px;
    max-width: 400px;
  }

  .line {
    top: 227px;
  }

  .letter {
    position: absolute;
    top: 345px;

    @include fonts.text(180px, 0, 500);
  }
}

@media (width <= 600px) {
  .paragraph-paginate {
    max-width: 350px;
  }

  .heading-text {
    max-width: 350px;
  }

  .main-title {
    max-width: 350px;
  }

  .line {
    top: 227px;
  }

  .letter {
    position: absolute;
    top: 345px;

    @include fonts.text(180px, 0, 500);
  }
}
