/* stylelint-disable selector-pseudo-class-no-unknown */
@use 'mixins/fonts';
@use 'mixins/media';

.paginated-block {
  // padding: 67.5px 0;
  width: 100%;
  height: max-content;
  // overflow-y: scroll;

  // @include media.screen('desktop') {
  //   padding: 112px 0;
  // }
}

.contentWrapper {
  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
  }
}

.content {
  @include media.screen('desktop') {
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.letter {
  font-size: 180px;
  display: block;
  margin: 24px 0 16px;

  @include media.screen('desktop') {
    display: block;
    box-sizing: border-box;
    margin: auto 0 0;
    font-size: 250px;
    line-height: 200px;
    margin-bottom: -20px;
  }
}

.paragraphDesk {
  display: none;

  @include media.screen('desktop') {
    display: block;
  }
}

.paragraphMobile {
  position: relative;
  display: block;
  min-height: 150px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 48px;

  @include media.screen('desktop') {
    display: none;
  }
}

.paragraphContent {
  min-height: 150px;
}

.button {
  margin-top: 48px;

  @include media.screen('desktop') {
    margin-top: 32px;
  }
}

// SWIPER LAYOUT LOGIC
.mySwiperWrapper {
  :global(.swiper) {
    width: 100%;
    height: 100%;
    min-height: 150px;

    div {
      max-width: 100%;
    }
  }

  :global(.swiper-pagination) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :global(.swiper-pagination-bullets) {
    position: absolute;
    bottom: 0;
  }

  :global(.swiper-pagination-bullet) {
    background-color: rgb(217 217 217 / 100%);
    width: 5px;
    height: 5px;
    opacity: 1;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: rgb(78 82 86 / 100%);
    width: 10px;
    height: 10px;
  }
}
