@use '../../../../styles/mixins/fonts/index' as *;

.button {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 30px;
  border-radius: 100px;
  cursor: pointer;

  &.dark {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  &.light {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);

    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
  }
}

.text {
  margin-right: 14px;
  @include text(16px, 20px, 'regular');
  letter-spacing: 1px;

  &.dark {
    color: var(--color-text-tertiary);
  }

  &.light {
    color: var(--color-white);
  }
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;

  &.dark {
    background-color: var(--color-black);
  }

  &.light {
    background-color: var(--color-white);
  }
}

.arrow {
  transition: transform 0.2s ease;

  &.dark {
    color: var(--color-white);
  }

  &.light {
    color: var(--color-black);
  }
}

.button:hover .arrow {
  transform: rotate(45deg);
}
