// Переменные
$max-desktop-width: 1441px;
$max-tablet-width: 1279px;
$max-mobile-width: 768px;

$desktop-max-screen: $max-desktop-width;
$tablet-max-screen: 834px;
$mobile-max-screen: $max-mobile-width;

// Функция получения ширины экрана
@function get-screen-width($screen) {
  @if $screen == desktop {
    @return $desktop-max-screen;
  } @else if $screen == tablet {
    @return $tablet-max-screen;
  } @else if $screen == mobile {
    @return $mobile-max-screen;
  }

  @warn "Unknown screen size `#{$screen}` passed to get-screen-width.";

  @return null;
}

// Миксин медиазапросов
@mixin screen($screen) {
  @if $screen == desktop-l {
    @media screen and (min-width: $max-desktop-width) {
      @content;
    }
  } @else if $screen == desktop-m {
    @media screen and (max-width: $max-desktop-width) {
      @content;
    }
  } @else if $screen == desktop {
    @media screen and (min-width: $max-tablet-width) {
      @content;
    }
  } @else if $screen == tablet {
    @media screen and (min-width: $max-mobile-width) and (max-width: $max-tablet-width) {
      @content;
    }
  } @else if $screen == tablet-mobile {
    @media screen and (max-width: $max-tablet-width) {
      @content;
    }
  } @else if $screen == mobile {
    @media screen and (max-width: $max-mobile-width) {
      @content;
    }
  } @else {
    @warn "Unknown screen size `#{$screen}` passed to screen mixin.";
  }
}
