@use 'mixins/fonts';
@use 'mixins/media';

.openings {
  padding: 40px 0 78px;

  @include media.screen('desktop') {
    padding: flex(2.7) 0 flex(8.33);
  }
}

.title {
  @include fonts.text(48px, 52px, 'regular');

  overflow: hidden;
  margin-bottom: 24px;
  letter-spacing: 1px;
  color: var(--color-text-tertiary);

  @include media.screen('desktop') {
    letter-spacing: 1.8px;
    margin-bottom: flex(3.95);

    @include fonts.text(flex(5.58), flex(6.52), 'regular');
  }
}

.text {
  @include fonts.text(24px, 28px, 300);

  text-indent: 36px;
  letter-spacing: 0.45px;
  color: var(--color-text-quaternary);

  @include media.screen('desktop') {
    @include fonts.text(flex(1.88), flex(2.36), 300);

    text-indent: 46px;
    letter-spacing: 0.6px;
    max-width: flex(45.97);
    margin-left: auto;
  }
}
