@use 'mixins/fonts';
@use 'mixins/media';

.footerNav {
  @include media.screen('mobile') {
    order: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;

    @include media.screen('desktop') {
      gap: flex(1.11);
    }
  }

  &__item {
    transition: color 0.5s;
    color: var(--color-white);

    @include fonts.text(16px, 20px, 400);

    @include media.screen('desktop') {
      @include fonts.text(flex(1.11), flex(1.39), 400);
    }

    span {
      letter-spacing: 0.3px;
    }

    &:hover {
      color: var(--color-text-secondary);
    }
  }
}
