@use 'mixins/fonts';
@use 'mixins/media';

.footerNav {
  @include media.screen('mobile') {
    order: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
  }

  &__item {
    @include fonts.text(16px, 20px, 400);

    color: var(--color-white);

    &:hover {
      color: var(--color-text-secondary);
    }
  }
}
