@use 'mixins/fonts';
@use 'mixins/media';

.main {
  height: 100vh;
  position: relative;

  button {
    width: 169px;
    height: 76px;

    @include media.screen('desktop-l') {
      width: 11.74vw;
      height: 5.28vw;
    }
  }
}

.video {
  overflow: hidden;

  video {
    transform: translate(-40%, -55%);
  }

  @include media.screen('desktop') {
    video {
      transform: translate(-50%, -55%);
    }
  }
}

.center {
  height: 71px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);

  @include media.screen('desktop-l') {
    height: 4.93vw;
  }
}

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  letter-spacing: 0.85px;
  width: max-content;

  @include fonts.text(20px, 24px, 300);

  @include media.screen('desktop-l') {
    @include fonts.text(1.39vw, 1.66vw, 300);
  }
}

.typed {
  position: absolute;
  top: 0;
  left: 50%;
  height: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  transform: translateX(-50%);
  white-space: nowrap;
  user-select: none;

  span + span {
    position: relative;
    display: inline-block;
    user-select: none;
    transform: translateY(-1px);
  }

  @include fonts.text(31px, 100%, 600);
}

.top,
.bottom {
  position: absolute;
  left: 41px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.screen('desktop-l') {
    left: 2.85vw;
    right: 1.39vw;
  }
}

.top {
  top: 120px;

  @include media.screen('mobile') {
    top: 76px;
  }

  @include media.screen('desktop-l') {
    top: 8.33vw;
  }
}

.bottom {
  bottom: 22px;
  left: 20px;

  @include media.screen('desktop-l') {
    bottom: 1.53vw;
    left: 1.39vw;
  }
}

.letter {
  color: var(--color-white);
  opacity: 0.4;
  transition: opacity 0.3s;

  @include media.screen('desktop-l') {
    letter-spacing: 0;
    opacity: 0;
    color: var(--color-white) !important;
    animation: letter-appear 0.8s ease-out both;
    animation-delay: 0.2s;

    @include fonts.text(7.85vw, 100%, 500);
  }
}

.letterDissapear {
  @include media.screen('desktop-l') {
    animation: letter-disappear calc((var(--count) - 3) * 0.5s / 3) ease both;
    animation-delay: 1.4s;
  }
}

.letterActive {
  opacity: 1;
}

.exploreButton {
  display: flex;
  align-items: center;
  gap: 14px;

  @include media.screen('desktop') {
    gap: 15px;
    padding: 8px 4px 8px 30px;
  }

  @include media.screen('desktop-l') {
    gap: 1.04vw;
    padding: 0.55vw 0.28vw 0.55vw 2.08vw;
  }

  & p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin: 0;
    font-family: var(--font-neue-haas);

    @include media.screen('desktop-l') {
      font-size: 1.11vw;
    }
  }
}

@keyframes letter-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes letter-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
