@use 'mixins/fonts';
@use 'mixins/media';

.main {
  height: 100vh;
  position: relative;

  button {
    width: 169px;
    height: 76px;
  }
}

.video {
  overflow: hidden;

  video {
    transform: translate(-40%, -55%);
  }
}

.center {
  height: 71px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.text {
  @include fonts.text(20px, 24px, 300);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  letter-spacing: 0.85px;
  width: max-content;
}

.typed {
  position: absolute;
  top: 0;
  left: 50%;
  height: 20px;
  color: var(--color-white);
  text-transform: uppercase;
  transform: translateX(-50%);
  white-space: nowrap;
  user-select: none;

  span+span {
    position: relative;
    display: inline-block;
    user-select: none;
    transform: translateY(-1px);
  }

  @include fonts.text(31px, 100%, 600);
}

.top,
.bottom {
  position: absolute;
  left: 41px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  top: 106px;
}

.bottom {
  bottom: 22px;
  left: 20px;
}

.letter {
  color: var(--color-white);
  opacity: 0.4;
  transition: opacity 0.3s;
}

.letterActive {
  opacity: 1;
}

.exploreButton {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
    margin: 0;
    font-family: var(--font-neue-haas);
  }
}

@keyframes letter-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes letter-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

@include media.screen('mobile') {
  .top {
    top: 76px;
  }
}

@include media.screen('desktop') {
  .main {
    & button {
      width: flex(10.41);
      height: flex(4.69);
    }
  }

  .video {
    & video {
      transform: translate(-50%, -55%);
    }
  }

  .center {
    height: flex(4.93);
  }

  .text {
    @include fonts.text(flex(1.39), flex(1.66), 300);
  }

  .top,
  .bottom {
    left: calc(flex(3.33) - 8px);
    right: flex(3.33);
  }

  .top {
    top: flex(5.97);
  }

  .bottom {
    bottom: flex(1.53);
  }

  .letter {
    letter-spacing: 0;
    opacity: 0;
    color: var(--color-white) !important;
    animation: letter-appear 0.8s ease-out both;
    animation-delay: 0.2s;

    @include fonts.text(flex(7.5), 100%, 500);
  }

  .letterDissapear {
    animation: letter-disappear calc((var(--count) - 3) * 0.5s / 3) ease both;
    animation-delay: 1.4s;
  }

  .exploreButton {
    padding: flex(0.48) flex(0.625) flex(0.48) flex(1.8);
    & p {
      font-size: flex(0.97);
    }
  }
}
