@use 'mixins/fonts';
@use 'mixins/media';

.main {
  height: 844px;
  position: relative;

  button {
    width: 169px;
    height: 76px;
  }

  @include media.screen('desktop') {
    height: 796px;
  }
}

.video {
  overflow: hidden;

  video {
    transform: translate(-40%, -55%);
  }

  @include media.screen('desktop') {
    video {
      transform: translate(-50%, -55%);
    }
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  letter-spacing: 0.85px;

  @include fonts.text(20px, 24px, 300);
}

.typed {
  position: absolute;
  height: 20px;
  top: 45%;
  left: 50%;
  color: var(--color-white);
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  span + span {
    position: relative;
    display: inline-block;
    transform: translateY(-1px);
  }

  @include fonts.text(31px, 100%, 600);
}

.top,
.bottom {
  position: absolute;
  left: 41px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media.screen('desktop') {
    left: 71px;
    right: 48px;
  }
}

.top {
  top: 120px;

  @include media.screen('mobile') {
    top: 76px;
  }
}

.bottom {
  bottom: 22px;
  left: 20px;

  @include media.screen('desktop') {
    bottom: 28px;
    left: 48px;
  }
}

.letter {
  color: var(--color-white);
  opacity: 0.4;
  transition: opacity 0.3s;

  @include media.screen('desktop') {
    letter-spacing: 0;
    opacity: 1;

    @include fonts.text(113px, 100%, 500);
  }
}

.letter + span,
.letter + span + span {
  @include fonts.text(113px, 100%, 500);

  text-transform: uppercase;
  color: var(--color-white);
  letter-spacing: -4px;
}

.letter + span + span {
  position: relative;
  display: inline-block;
  transform: translateY(-6px);
}

.letterActive {
  opacity: 1;
}

.exploreButton {
  display: flex;
  align-items: center;
  gap: 14px;

  & p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 4px;
  }
}
