@use 'mixins/fonts';
@use 'mixins/media';

.office {
  margin-top: 38px;
  margin-bottom: 48px;
  letter-spacing: 0.239px;

  p {
    @include fonts.text(16px, 20px, 300);
    color: var(--color-text-quaternary);

    &:first-child {
      margin-bottom: 20px;
    }
  }
}

.office__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  p {
    letter-spacing: 0.4px;
    color: var(--color-text-tertiary);

    @include fonts.text(20px, 24px, 400);
  }
}

.office p:first-of-type {
  letter-spacing: 0.4px;
}

.office p:last-of-type {
  letter-spacing: 0.25px;
}

@include media.screen('desktop') {
  .office {
    max-width: 548px;
    margin-top: 0;
    margin-bottom: 0;

    & p {
      @include fonts.text(flex(1.25), flex(1.51), 300);
    }
  }

  .office p:first-of-type {
    margin-bottom: 0;
  }

  .office > p:first-child {
    @include media.screen('desktop') {
      margin-bottom: flex(1.18);
    }
  }

  .office__contacts {
    margin-top: flex(8.88);

    & p {
      @include fonts.text(flex(1.25), flex(1.58), 400);
    }
  }
}
