@use 'mixins/fonts';
@use 'mixins/media';

.office {
  margin-top: 38px;
  letter-spacing: 0.239px;

  p {
    color: var(--color-text-quaternary);

    @include fonts.text(16px, 20px, 300);

    @include media.screen('desktop') {
      @include fonts.text(18px, 21px, 300);
    }

    @include media.screen('desktop-l') {
      @include fonts.text(1.25vw, 1.51vw, 300);
    }
  }

  @include media.screen('tablet') {
    margin: 36px auto 0;
  }

  @include media.screen('desktop') {
    max-width: 548px;
    margin-top: 23px;
  }
}

.office__contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  p {
    letter-spacing: 0.4px;
    color: var(--color-text-tertiary);

    @include fonts.text(20px, 24px, 400);

    @include media.screen('desktop') {
      @include fonts.text(17px, 21.34px, 400);
    }

    @include media.screen('desktop-l') {
      @include fonts.text(1.25vw, 1.58vw, 400);
    }
  }

  @include media.screen('desktop') {
    margin-top: 200px;
  }

  @include media.screen('desktop-l') {
    margin-top: 140px;
  }
}

.office p:first-of-type {
  margin-bottom: 20px;
  letter-spacing: 0.4px;
}

.office p:last-of-type {
  letter-spacing: 0.25px;
}
