@use 'mixins/media';

.addresses {
  display: flex;
  justify-content: end;
  padding-top: 42px;
}

.addressesList {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include media.screen('desktop') {
    max-width: flex(45.97);
  }
}

.text-contacts {
  font-weight: 500;
  letter-spacing: 0.5px;
}
