@use 'mixins/media';
@use 'mixins/fonts';

.shadow {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 100%;

  &__top {
    width: 100%;
    height: 46.7px;
    background: linear-gradient(#212324, transparent);
    margin-bottom: auto;
    opacity: 1;
    transition: height .4s;

    &.notVisible {
      height: 0;
    }
  }

  &__bottom {
    width: 100%;
    height: 46.7px;
    background: linear-gradient(transparent, #212324);
    margin-top: auto;
    opacity: 1;
    transition: height .4s;

    &.notVisible {
      height: 0;
    }
  }
}

.resultsWrapper {
  margin-top: calc(-29% - 2px);
}

.list {
  height: 0;
  max-height: 51%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: height 0.6s ease;
  position: relative;

  &--active {
    height: 51%;
  }

  @include media.screen('mobile') {
    max-height: 45vh;
  }

  &--dark {
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: #4e5256;
      border-radius: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #323538;
    }
  
    &::-webkit-scrollbar {
      display: block;
      width: 4px;
      background-color: #151719;
    }
  }

  &--light {
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: #BCBCBC;
      border-radius: 8px;
    }

    &::-webkit-scrollbar {
      display: block;
      width: 4px;
      background-color: rgba($color: #000, $alpha: 10%);
    }
  }
}

.item {
  padding: 16px 48px;
  transition: background-color 0.3s ease;

  @include media.screen('mobile') {
    padding: 16px 20px;
  }

  &--dark {
    background-color: #ffffff0d;

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff1a;
    }

    &:hover {
      background-color: #ffffff1a;
    }
  }

  &--light {
    background-color: #ffffff33;

    &:hover {
      background-color: #0000001a;
    }
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__title {
    @include fonts.text(16px, 20px, 400);
    color: var(--color-text-secondary);
  }

  &__text {
    @include fonts.text(16px, 20px, 400);
    &--dark {
      color: var(--color-white);
    }

    &--light {
      color: var(--color-black);
    }
  }
}
