@use 'mixins/media';
@use 'mixins/fonts';

.list {
  height: 0;
  max-height: 51%;
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: height 0.6s ease;

  &--active {
    height: 51%;
  }

  @include media.screen('mobile') {
    max-height: 45vh;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: #4e5256;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #323538;
  }

  &::-webkit-scrollbar {
    display: block;
    width: 4px;
    background-color: #151719;
  }
}

.item {
  padding: 16px 48px;
  transition: background-color 0.3s ease;

  @include media.screen('mobile') {
    padding: 16px 20px;
  }

  &--dark {
    background-color: #ffffff0d;

    &:not(:last-child) {
      border-bottom: 1px solid #ffffff1a;
    }

    &:hover {
      background-color: #ffffff1a;
    }
  }

  &--light {
    background-color: #ffffff33;

    &:hover {
      background-color: #0000001a;
    }
  }
}

.link {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__title {
    @include fonts.text(16px, 20px, 400);
    color: var(--color-text-secondary);
  }

  &__text {
    @include fonts.text(16px, 20px, 400);
    &--dark {
      color: var(--color-white);
    }

    &--light {
      color: var(--color-black);
    }
  }
}
