@use 'mixins/fonts';

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;

  &.long {
    padding: 10px 0 20px;
    justify-content: space-between;
    min-width: 100%;

    &.dark {
      border-bottom: 1px solid rgb(0 0 0 / 20%);

      &:hover {
        border-bottom: 1px solid rgb(0 0 0 / 50%);
      }
    }

    &.light {
      border-bottom: 1px solid rgb(255 255 255 / 20%);

      &:hover {
        border-bottom: 1px solid rgb(255 255 255 / 50%);
      }
    }
  }
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: 1px solid rgb(0 0 0 / 20%);
  background-color: transparent;
  width: 60px;
  height: 60px;

  &.dark {
    border: 1px solid rgb(0 0 0 / 20%);
  }

  &.light {
    border: 1px solid rgb(255 255 255 / 20%);
  }

  &.long {
    margin-right: 15px;
    border: none;
    width: auto;
    height: auto;
  }
}

.text {
  @include fonts.text(24px, 28px, 600);
  font-family: var(--font-neue-haas);

  margin-right: 20px;
  letter-spacing: -0.7px;

  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }

    &.light {
      color: var(--color-white);
    }
  }

  &.dark {
    color: var(--color-black);
  }

  &.light {
    color: var(--color-white);
  }
}

.arrow {
  transition: transform 0.2s ease;

  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }
  }

  &.dark {
    color: var(--color-black);
  }

  &.light {
    color: var(--color-white);
  }
}

.button:hover:not(.disabled) .arrow {
  transform: rotate(-45deg);

  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }

    &.light {
      color: var(--color-white);
    }
  }

  &.dark {
    color: var(--color-white);
  }

  &.light {
    color: var(--color-black);
  }
}

.button:hover:not(.disabled) .round {
  &.long {
    &.dark {
      background-color: transparent;
      border: none;
    }

    &.light {
      background-color: transparent;
      border: none;
    }
  }

  &.short {
    &.dark {
      background-color: var(--color-black);
      border: none;
    }

    &.light {
      background-color: var(--color-white);
      border: none;
    }
  }
}

// external styles

.button-contacts {
  margin-top: 78px;
  font-weight: 600;
  letter-spacing: 1px;
}

.text-contacts {
  letter-spacing: -0.7px;
}

.mobile {
  display: none;
}

@media (width <= 1200px) {
  .mobile {
    display: flex;
  }

  .desctop {
    display: none;
  }

  .button-contacts {
    margin-top: 48px;
  }
}

.disabled {
  opacity: 0.5;
}
