@use 'mixins/fonts';

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.long {
    padding: 10px 0 20px 0;
    justify-content: space-between;
    min-width: 100%;

    &.dark {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);

      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      }
    }

    &.light {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      &:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  width: 60px;
  height: 60px;

  &.dark {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.light {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &.long {
    margin-right: 15px;
    border: none;
    width: auto;
    height: auto;
  }
}

.text {
  @include fonts.text(24px, 28px, 'medium');
  margin-right: 20px;
  letter-spacing: 0.3px;

  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }

    &.light {
      color: var(--color-white);
    }
  }

  &.dark {
    color: var(--color-black);
  }

  &.light {
    color: var(--color-white);
  }
}

.arrow {
  transition: transform 0.2s ease;
  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }
  }

  &.dark {
    color: var(--color-black);
  }

  &.light {
    color: var(--color-white);
  }
}

.button:hover .arrow {
  transform: rotate(-45deg);
  &.long {
    &.dark {
      color: var(--color-text-tertiary);
    }

    &.light {
      color: var(--color-white);
    }
  }

  &.dark {
    color: var(--color-white);
  }

  &.light {
    color: var(--color-black);
  }
}

.button:hover .round {
  &.long {
    &.dark {
      background-color: transparent;
      border: none;
    }

    &.light {
      background-color: transparent;
      border: none;
    }
  }

  &.short {
    &.dark {
      background-color: var(--color-black);
      border: none;
    }

    &.light {
      background-color: var(--color-white);
      border: none;
    }
  }
}
