@use 'mixins/media';
@use 'mixins/fonts';

.header {
  padding: 120px 0 0;

  &__main {
    @include media.screen('desktop') {
      display: flex;
      justify-content: space-between;
    }
  }

  &__title {
    @include fonts.text(55px, 64px, 400);

    overflow: hidden;
    height: max-content;
    color: var(--color-text-tertiary);
    letter-spacing: 1px;

    @include media.screen('desktop') {
      max-width: flex(28.82);
      margin-top: flex(0.25);
      letter-spacing: 0.02em;

      @include fonts.text(flex(5.55), flex(5.8), 400);
    }
  }

  &__contentWrapper {
    @include media.screen('desktop') {
      max-width: flex(39.87);
    }
  }

  &__content {
    @include fonts.text(24px, 28px, 300);

    text-indent: 54px;
    margin: 40px 0;
    letter-spacing: 0.5px;
    color: var(--color-text-quaternary);

    @include media.screen('desktop') {
      margin: 0 0 flex(3.7);
      text-indent: flex(1.48);
      letter-spacing: 0.02em;

      @include fonts.text(flex(1.85), flex(2.1), 300);
    }
  }

  &__back {
    display: flex;
    justify-content: space-between;

    padding-bottom: 82px;

    @include media.screen('desktop') {
      // margin: 10px 0 0;
      padding-bottom: flex(3.7);
    }
  }

  @include media.screen('desktop') {
    padding: flex(10.12) 0 0;
  }
}

.explore {
  margin-bottom: 24px;
  width: 100%;
  justify-content: space-between;

  p {
    margin-right: 13px;
    margin-left: -5px;
  }

  @include media.screen('tablet') {
    max-width: 169px;
  }

  @include media.screen('desktop') {
    max-width: flex(10.43);
    margin-bottom: flex(3.09);

    p {
      font-size: flex(0.99);
      line-height: flex(1.23);
      letter-spacing: 0.02em;
    }
  }
}
