@use 'mixins/media';
@use 'mixins/fonts';

.expertise {
  padding: 36px 0 43px;
  color: var(--color-text-quaternary);

  h2 {
    @include media.screen('desktop') {
      @include fonts.text(flex(3.33), flex(3.61), 400);

      letter-spacing: 1px;
    }
  }

  @include fonts.text(24px, 28px, 400);

  p {
    margin-top: 24px;
    text-indent: 48px;
    font-weight: 300;

    @include media.screen('desktop') {
      max-width: flex(53.88);
      margin-top: 0;
      text-indent: 77px;
      letter-spacing: -0.04px;
    }
  }

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    padding: 96px 0 102px;

    @include fonts.text(30px, 34px, 400);
  }
}
