@use 'mixins/fonts';

.services {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  min-height: 1074px;
}

.title-block {
  width: 51.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-top {
  display: flex;
}

.title {
  @include fonts.text(90px, 94px, 400);

  color: var(--color-text-tertiary);
  letter-spacing: 1px;
}

.number {
  @include fonts.text(20px, 24px, 400);

  color: var(--color-text-tertiary);
  letter-spacing: 1px;
  margin-right: 32px;
}

.info-block {
  width: 50%;
}

.text-top {
  @include fonts.text(36px, 40px, 300);

  color: var(--color-text-quaternary);
  text-indent: 43px;
  letter-spacing: 0.69px;
  margin-bottom: 82px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  row-gap: 42px;
  margin-bottom: 80px;
}
