@use 'mixins/fonts';
@use 'mixins/media';

.technologies {
  margin-bottom: 40px;

  h2 {
    margin-right: 66px;

    @include media.screen('desktop') {
      margin-right: 0;
    }
  }

  @include media.screen('desktop') {
    display: flex;
    margin: 80px 0 -2px;
  }
}

.technologies__title {
  margin: 40px 0 24px;

  & h2 {
    letter-spacing: 1px;

    @include media.screen('desktop') {
      letter-spacing: 2px;
    }
  }

  @include media.screen('desktop') {
    margin-top: 5px;
  }
}

.technologies__text-container {
  @include media.screen('desktop') {
    margin-left: 70px;
  }
}

.technologies__text {
  margin: 0 0 36px;
  text-indent: 28px;
  letter-spacing: -0.1px;
  color: var(--color-white);

  @include fonts.text(24px, 28px, 400);

  @include media.screen('desktop') {
    @include fonts.text(36px, 40px, 400);

    text-indent: 43px;
    margin-bottom: 64px;
  }
}

.technologies__accordion {
  @include media.screen('desktop') {
    margin: 0 0 85px;
  }
}

.technologies__button {
  p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    margin-right: 12px;
    letter-spacing: 1px;
  }

  @include media.screen('desktop') {
    margin-bottom: 82px;

    p {
      margin-right: 20px;
      letter-spacing: 1.2px;
    }
  }
}
