@use 'mixins/fonts';
@use 'mixins/media';

.technologies {
  margin-bottom: 40px;

  @include media.screen('desktop') {
    display: flex;
    justify-content: space-between;
    margin: 80px 0 -2px;
    gap: 70px;
  }

  @include media.screen('desktop-l') {
    margin: calc(var(--vw) * 5.55) 0 -2px;
    gap: calc(var(--vw) * 4.86)
  }
}

.technologies__title {
  margin: 40px 0 24px;

  & h2 {
    letter-spacing: 1px;

    @include media.screen('desktop') {
      letter-spacing: 2px;
    }
  }

  @include media.screen('desktop') {
    margin-top: 5px;
  }

  @include media.screen('desktop-l') {
    margin: calc(var(--vw) * 0.34) 0 calc(var(--vw) * 1.66);
  }
}

.technologies__text-container {
  @include media.screen('desktop') {
    max-width: 662px;
    width: 100%;
  }

  @include media.screen('desktop-l') {
    max-width: calc(var(--vw) * 55.4);
    width: 100%;
  }
}

.technologies__text {
  margin: 0 0 33px;
  text-indent: 28px;
  letter-spacing: 0.8px;
  color: var(--color-white);

  @include fonts.text(24px, 28px, 200);

  @include media.screen('desktop') {
    @include fonts.text(36px, 40px, 200);

    text-indent: 43px;
    margin-bottom: 64px;
    letter-spacing: 1.1px;
  }

  @include media.screen('desktop-l') {
    @include fonts.text(calc(var(--vw) * 2.55), calc(var(--vw) * 2.77), 200);
    margin-bottom: calc(var(--vw) * 4.44);
  }
}

.technologies__accordion {
  @include media.screen('desktop') {
    margin: 0 0 85px;
  }
}

.technologies__button {
  margin-top: 32px;

  p {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    margin-right: 12px;
    letter-spacing: 1.1px;
  }

  @include media.screen('desktop') {
    margin-top: 0;
    margin-bottom: 82px;

    p {
      margin-right: 20px;
      letter-spacing: 1.4px;
    }
  }

  @include media.screen('desktop-l') {
    margin-bottom: calc(var(--vw) * 5.7);

    p {
      font-size: calc(var(--vw) * 1.53);
      line-height: 1.94px;
    }
  }
}
