@use 'mixins/media';

.products {
  padding: 36px 0 112px;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;

    @include media.screen('desktop') {
      grid-template-columns: 1fr 1fr;
    }
  }

  @include media.screen('desktop') {
    padding: 0 0 64px;
  }
}

.product:nth-child(1),
.product:nth-child(2) {
  @include media.screen('desktop') {
    border-bottom: 1px solid rgb(0 0 0 / 20%);
  }
}

.product:nth-child(1) {
  border-top: 1px solid rgb(0 0 0 / 20%);

  @include media.screen('desktop') {
    border-top: none;

    h3 {
      width: flex(36.4);
    }

    div:nth-of-type(4) {
      margin-right: 70px;
    }
  }
}

.product:nth-child(2) {
  @include media.screen('desktop') {
    h3 {
      width: flex(21.05);
    }
  }
}

.product:nth-child(2n) {
  @include media.screen('desktop') {
    padding-left: flex(1.48);
  }
}

.product:nth-child(3),
.product:nth-child(4) {
  @include media.screen('desktop') {
    button {
      margin-top: 30px;
    }
  }
}

.product:nth-child(odd) {
  @include media.screen('desktop') {
    padding-right: flex(1.48);
  }
}

.letters {
  display: flex;
  justify-content: space-between;
  margin-top: -14px;

  span:first-of-type {
    margin-left: 8px;
  }

  @include media.screen('desktop') {
    margin-top: 0;
  }
}
