@use 'mixins/media';

.company {
  position: relative;
  background-color: var(--color-white-secondary);

  sup {
    @include media.screen('desktop') {
      top: -3px;
    }
  }

  .company__header {
    @include media.screen('desktop') {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
  }

  @include media.screen('desktop') {
    padding: 55px 0 82px;
  }

  @include media.screen('desktop-l') {
    padding: calc(var(--vw) * 2.86) 0 calc(var(--vw) * 4.27);
  }

  &__quote {
    margin: 0 0 35px;

    @include media.screen('desktop') {
      margin: 114px 0 126px;
    }

    &__wrapper {
      @include media.screen('desktop') {
        max-width: calc(var(--vw) * 55.94);
      }
    }

    &__content {
      @include media.screen('desktop-l') {
        font-size: calc(var(--vw) * 1.98);
        line-height: calc(var(--vw) * 2.24);
      }
    }

    &__author {
      @include media.screen('desktop-l') {
        font-size: calc(var(--vw) * 1.25);
        line-height: calc(var(--vw) * 1.58);
      }
    }
  }
}

.company__title {
  margin: 38px 0 48px;
  max-width: fit-content;

  @include media.screen('desktop') {
    margin-top: 30px;
  }

  @include media.screen('desktop-l') {
    margin: 38px 0 48px;
  }
}

.company__info {
  display: flex;
  flex-direction: column;

  button.company__btn {
    display: none;

    @include media.screen('desktop') {
      margin: 48px 0 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  @include media.screen('desktop') {
    justify-content: space-between;
    flex-direction: row;
  }
}

.company__office {
  order: 1;

  @include media.screen('desktop') {
    letter-spacing: 0.4px;
    order: -1;
    margin-right: 134px;
    margin-top: 34px;
  }

  @include media.screen('desktop-l') {
    max-width: calc(var(--vw) * 36.48);
  }
}

.company__stats {
  overflow: hidden;

  & p {
    letter-spacing: 0.5px;
    line-height: 24px;

    @include media.screen('desktop') {
      line-height: 30px;
    }

    @include media.screen('desktop-l') {
      line-height: calc(var(--vw) * 1.56);
    }
  }

  & p + span {
    @include media.screen('desktop') {
      bottom: 24px !important;
    }
  }
}

.company__statsContainer {
  @include media.screen('desktop') {
    width: 100%;
    max-width: 662px;
  }

  @include media.screen('desktop-l') {
    max-width: calc(var(--vw) * 34.48);
  }
}

.company__statsContent {
  display: flex;
  flex-direction: column;
  gap: 23px;

  @include media.screen('tablet') {
    align-items: center;
  }

  @include media.screen('desktop') {
    height: 382px;
    gap: 47px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
  }

  @include media.screen('desktop-l') {
    height: calc(var(--vw) * 19.90);
    gap: calc(var(--vw) * 2.45);
    margin-top: calc(var(--vw) * 1.04);
  }
}

.company__btn {
  margin-bottom: 42px;
  width: 100%;
  justify-content: space-between;
  margin-top: 7px;
  max-width: 350px;

  p {
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  @include media.screen('desktop') {
    display: none;
  }
}

.company__deskBtn {
  display: none;

  @include media.screen('desktop') {
    display: flex;
    margin: 20px auto 0 0;
  }

  @include media.screen('desktop') {
    display: flex;
    margin: calc(var(--vw) * 1.39) auto 0 0;
  }
}
