@use 'mixins/media';
@use 'mixins/fonts';

.company {
  position: relative;
  background-color: var(--color-white-secondary);

  &__quote {
    margin: 0 0 35px;
    overflow: hidden;
  }

  &__title {
    padding-top: 38px;
    margin: 0 0 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    overflow: visible;

    button.company__btn {
      display: none;
    }
  }

  &__office {
    order: 1;
    max-width: calc(100% - 10px);
  }

  &__stats {
    & p {
      letter-spacing: 0.5px;
      line-height: 24px;
    }
  }

  &__statsContent {
    display: flex;
    flex-direction: column;
    gap: 23px;
    overflow: hidden;

    @include media.screen('tablet') {
      align-items: center;
    }
  }

  &__btn {
    margin-bottom: 42px;
    width: 100%;
    margin-top: 7px;

    p {
      font-weight: 500;
      letter-spacing: 0.5px;
    }
  }

  &__deskBtn {
    display: none;
  }
}

.linkButton {
  display: block;
  width: fit-content;
}

@include media.screen('desktop') {
  .company {
    padding: flex(4.86) 0;

    sup {
      top: -3px;
    }

    &__title {
      margin: 0;
      padding-top: 0;

      & h2 {
        @include fonts.text(flex(5.55), flex(5.85), 400);
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      padding-bottom: flex(5.35);
    }

    &__quote {
      margin: flex(4.93) 0;

      &__wrapper {
        max-width: flex(55.94);
      }

      &__content {
        font-size: flex(1.98);
        line-height: flex(2.24);
      }

      &__author {
        font-size: flex(1.25);
        line-height: flex(1.58);
      }
    }

    &__info {
      justify-content: space-between;
      flex-direction: row;
      padding-top: flex(4.86);

      button.company__btn {
        margin: 48px 0 0;
        display: flex;
        justify-content: flex-start;
      }
    }

    &__office {
      letter-spacing: 0.4px;
      order: -1;
      max-width: flex(31.25);
    }

    &__stats {
      & p {
        line-height: flex(1.56);
      }

      & p + span {
        bottom: 24px !important;
      }
    }

    &__statsContainer {
      width: 100%;
      max-width: flex(40.42);
      overflow: visible;
    }

    &__statsContent {
      gap: 47px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      gap: flex(5.2);
    }

    &__btn {
      display: none;
      max-width: 0;
    }

    &__deskBtn {
      display: flex;
      margin: flex(2.92) auto 0 0;
    }
  }
}
