@use 'mixins/media';

.company {
  h2 {
    margin-right: 144px;

    @include media.screen('desktop') {
      margin-right: 0;
    }
  }

  .company__header {
    @include media.screen('desktop') {
      display: flex;
      justify-content: space-between;
    }
  }

  button:last-of-type {
    margin-bottom: 42px;
    width: 100%;
    justify-content: space-between;
    margin-top: 7px;

    @include media.screen('desktop') {
      display: none;
    }
  }

  @include media.screen('desktop') {
    padding: 55px 0 78px;
  }

  &__quote {
    margin: 114px 0 126px;
  }
}

.company__title {
  margin: 38px 0 48px;

  @include media.screen('desktop') {
    margin-top: 30px;
  }
}

.company__info {
  display: flex;
  flex-direction: column;

  button.company__btn {
    display: none;

    @include media.screen('desktop') {
      margin: 48px 0 0;
      display: flex;
      justify-content: flex-start;
    }
  }

  @include media.screen('desktop') {
    justify-content: space-between;
    flex-direction: row;
  }
}

.company__office {
  order: 1;

  & + div {
    @include media.screen('desktop') {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-top: 3px;
    }
  }

  @include media.screen('desktop') {
    order: -1;
    margin-right: 134px;
    margin-top: 0;
  }
}

.company__stats {
  & p {
    line-height: 30px;
    padding-bottom: 8px;
    letter-spacing: 0.5px;
  }
}

.company__statsContent {
  display: flex;
  flex-direction: column;
  gap: 47px;
}
