@use 'mixins/fonts';
@use 'mixins/media';

.popup {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  &__text {
    @include fonts.text(36px, 40px, 400);

    color: var(--color-black-secondary);
    letter-spacing: 0.7px;

    @include media.screen('mobile') {
      @include fonts.text(24px, 28px, 400);

      letter-spacing: 0.45px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__cancel {
    @include fonts.text(24px, 28px, 600);

    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-black-secondary);
    margin-left: 45px;

    @include media.screen('mobile') {
      margin-left: 25px;
    }
  }
}
