@use 'mixins/fonts';
@use 'mixins/media';

.button {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 30px;
  border-radius: 100px;
  backdrop-filter: blur(14.22px) contrast(1);
  cursor: pointer;
  transition:
    border 0.4s,
    backdrop-filter 0.9s;

  &:hover {
    backdrop-filter: blur(14.22px) contrast(0.87);
  }

  &.dark {
    background-color: transparent;
    border: 1px solid rgb(0 0 0 / 20%);

    &:hover {
      border: 1px solid rgb(0 0 0 / 50%);
    }
  }

  &.light {
    background-color: rgb(255 255 255 / 5%);
    border: 1px solid rgb(255 255 255 / 20%);

    &:hover {
      border: 1px solid rgb(255 255 255 / 50%);
    }
  }

  @include media.screen('desktop-l') {
    padding: calc(var(--vw) * 0.55) calc(var(--vw) * 0.69) calc(var(--vw) * 0.55) calc(var(--vw) * 2.08);
  }
}

.text {
  margin-right: 14px;

  @include fonts.text(16px, 20px, 'regular');

  font-family: var(--font-neue-haas);

  &.dark {
    color: var(--color-text-tertiary);
  }

  &.light {
    color: var(--color-white);
  }
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  @include media.screen('desktop-l') {
    width: calc(var(--vw) * 4.16);
    height: calc(var(--vw) * 4.16);
  }

  &.dark {
    background-color: var(--color-black);
  }

  &.light {
    background-color: var(--color-white);
  }
}

.arrow {
  transition: transform 0.4s ease;
  width: 26px;
  height: 26px;

  @include media.screen('desktop') {
    width: calc(var(--vw) * 1.8);
    height: calc(var(--vw) * 1.8);
  }

  &.dark {
    color: var(--color-white);
  }

  &.light {
    color: var(--color-black);
  }
}

.button:hover .arrow {
  transform: rotate(45deg);
}

.mini-button {
  padding: 7px 9px 7px 27px;
}

.mini-round {
  width: 53px;
  height: 53px;
}

.mini-text {
  margin-right: 12.5px;
  letter-spacing: 1px;

  @include fonts.text(14px, 18px, 300);
}

@media (width <= 968px) {
  .mini-text {
    @include fonts.text(16px, 18px, 300);
  }
}
